# Node modules
node_modules/

# Build outputs
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Optional: Prisma
prisma/dev.db
prisma/dev.db-journal

/src/generated/prisma
